.promo {
    padding: 165px 0;
    color: #ffffff;
    background-image: url("../assets/promo.png");
    background-color: #111111;
    background-repeat: no-repeat;
    background-position-x: right;

    &__text {
        max-width: 510px;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;

        &--bold {
            font-weight: 600;
        }
    }
}
